@import "reset.css";
@import "font.css";
.border-box {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visible {
  display: block;
  visibility: visible;
}
.helvetica {
  font-family: 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  font-weight: 300;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  font-weight: 300;
  color: #435a60;
  background: #f5f5f5;
}
em {
  font-style: italic;
}
a:link {
  color: #007a99;
}
a:hover {
  color: #005166;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
h1 {
  font-size: 72px;
  font-size: 7.2rem;
  line-height: 80px;
  line-height: 8rem;
  margin-bottom: 2rem;
}
h2 {
  font-size: 42px;
  font-size: 4.2rem;
  line-height: 50px;
  line-height: 5rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 38px;
  font-size: 3.8rem;
  line-height: 42px;
  line-height: 4.2rem;
  margin-bottom: .75rem;
}
h4 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 38px;
  line-height: 3.8rem;
}
h5 {
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 35px;
  line-height: 3.5rem;
}
.deck-container {
  font-weight: 300;
}
.deck-container > .slide {
  padding: 75px;
}
.csstransforms .deck-container.deck-scale:not(.deck-menu) > .slide {
  padding-bottom: 75px;
}
.deck-slide-scaler {
  width: 100vw;
}
.slide {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100vw;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}
.slide#title-slide {
  background: url(images/blue.svg);
  background-size: cover;
  color: white;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.slide#title-slide h1,
.slide#title-slide h2,
.slide#title-slide h3,
.slide#title-slide h4,
.slide#title-slide h5,
.slide#title-slide h6,
.slide#title-slide p {
  text-align: left;
  color: white;
}
.slide.transition {
  color: white;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.slide.blue {
  background: #007a99;
}
.slide.orange {
  background: #cd5f00;
}
.slide.green {
  background: #058d74;
}
.slide.purple {
  background: #a188ae;
}
.slide.gray {
  background: #435a60;
}
.slide.blue h1,
.slide.orange h1,
.slide.green h1,
.slide.purple h1,
.slide.gray h1,
.slide#title-slide h1,
.slide.blue h2,
.slide.orange h2,
.slide.green h2,
.slide.purple h2,
.slide.gray h2,
.slide#title-slide h2,
.slide.blue h3,
.slide.orange h3,
.slide.green h3,
.slide.purple h3,
.slide.gray h3,
.slide#title-slide h3,
.slide.blue h4,
.slide.orange h4,
.slide.green h4,
.slide.purple h4,
.slide.gray h4,
.slide#title-slide h4,
.slide.blue h5,
.slide.orange h5,
.slide.green h5,
.slide.purple h5,
.slide.gray h5,
.slide#title-slide h5,
.slide.blue h6,
.slide.orange h6,
.slide.green h6,
.slide.purple h6,
.slide.gray h6,
.slide#title-slide h6 {
  color: #fafafa;
}
.slide:not(.title) h1 {
  margin-bottom: 3rem;
}
.slide h1 {
  color: #007a99;
}
.slide h2 {
  color: #007a99;
  font-size: 72px;
  font-size: 7.2rem;
  line-height: 80px;
  line-height: 8rem;
  margin-bottom: 2rem;
}
.slide h2 + .paragraph p strong {
  color: #cd5f00;
  font-weight: 300;
  font-size: 42px;
  font-size: 4.2rem;
  line-height: 50px;
  line-height: 5rem;
  margin-bottom: 1rem;
}
.slide h2 + .openblock .content .paragraph p strong {
  color: #cd5f00;
  font-weight: 300;
  font-size: 42px;
  font-size: 4.2rem;
  line-height: 50px;
  line-height: 5rem;
  margin-bottom: 1rem;
}
.slide h3 {
  color: #cd5f00;
}
.slide h4 {
  color: #058d74;
}
.slide p {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 35px;
  line-height: 3.5rem;
  margin-bottom: 1rem;
}
.slide .blue {
  color: #007a99;
}
.slide .orange {
  color: #cd5f00;
}
.slide .green {
  color: #058d74;
}
.slide .purple {
  color: #a188ae;
}
.slide .gray {
  color: #435a60;
}
.slide ul {
  margin: .5em .5em 1em .5em;
}
.slide ul li {
  padding-left: 1.2em;
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 32px;
  line-height: 3.2rem;
  list-style-type: none;
}
.slide ul li:before {
  content: "\e637";
  font-family: 'datastax';
  display: inline-block;
  width: 1.2em;
  margin-left: -1.2em;
  font-size: 18px;
  font-size: 1.8rem;
  color: #435a60;
}
.slide ul li ul {
  margin: .5em;
}
.slide .notes {
  position: absolute;
  z-index: 1000;
  background: rgba(6, 91, 113, 0.9);
  color: #fafafa;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  padding: 100px;
  font-size: 50px;
  font-size: 5rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slide .notes li:before {
  color: #fafafa;
}
.slide .notes p {
  font-size: 35px;
  font-size: 3.5rem;
  line-height: 45px;
  line-height: 4.5rem;
  margin-bottom: 1.8rem;
}
.deck-header {
  background: #435a60;
  position: fixed;
  top: 0vh;
  width: 100%;
  height: 50px;
  z-index: 5000;
  color: #fafafa;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.deck-header .flex-element {
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: .5em 1em;
}
.deck-header .flex-element.deck-brand {
  height: 35px;
}
.deck-header .flex-element.deck-brand a {
  background: url(images/brand-white.svg) no-repeat center right;
  text-indent: -9000px;
  display: block;
  margin: auto;
  height: 100%;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
footer {
  background: #435a60;
  position: fixed;
  bottom: 0vh;
  width: 100%;
  height: 50px;
  z-index: 5000;
  color: #fafafa;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
footer .flex-element {
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: .5em 1em;
}
footer .flex-element.deck-progress {
  text-align: right;
}
footer .flex-element.deck-progress .deck-title {
  font-weight: 700;
  margin-left: 20px;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  border: 1px solid #888;
}
code {
  color: #888;
}
blockquote {
  font-size: 2em;
  font-style: italic;
  padding: 1em 2em;
  color: #000;
  border-left: 5px solid #ccc;
}
blockquote p {
  margin: 0;
}
blockquote cite {
  font-size: .5em;
  font-style: normal;
  font-weight: bold;
  color: #888;
}
::-moz-selection {
  background: #a188ae;
  color: #fafafa;
}
::selection {
  background: #a188ae;
  color: #fafafa;
}
a,
a:hover,
a:focus,
a:active,
a:visited {
  color: #c00;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
.slide .deck-before,
.slide .deck-previous {
  opacity: 0.4;
}
.slide .deck-before:not(.deck-child-current) .deck-before,
.slide .deck-before:not(.deck-child-current) .deck-previous,
.slide .deck-previous:not(.deck-child-current) .deck-before,
.slide .deck-previous:not(.deck-child-current) .deck-previous {
  opacity: 1;
}
.slide .deck-child-current {
  opacity: 1;
}
.deck-prev-link,
.deck-next-link {
  position: absolute;
  z-index: 3;
  top: 50%;
  width: 42px;
  height: 42px;
  margin: -20px 10px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.deck-prev-link i,
.deck-next-link i {
  font-size: 40px;
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.3);
  padding: 0;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.deck-prev-link i:hover,
.deck-next-link i:hover {
  color: rgba(0, 0, 0, 0.7);
}
.deck-prev-link:hover,
.deck-next-link:hover,
.deck-prev-link:focus,
.deck-next-link:focus {
  text-decoration: none;
}
.deck-prev-link {
  left: 8px;
}
.deck-next-link {
  right: 8px;
}
.deck-container:hover .deck-prev-link,
.deck-container:hover .deck-next-link {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
.deck-container:hover .deck-prev-link:hover,
.deck-container:hover .deck-next-link:hover,
.deck-container:hover .deck-prev-link:focus,
.deck-container:hover .deck-next-link:focus {
  text-decoration: none;
}
.deck-container:hover .deck-prev-link.deck-nav-disabled,
.deck-container:hover .deck-next-link.deck-nav-disabled {
  display: none;
  visibility: hidden;
}
.touch .deck-container:hover .deck-prev-link,
.touch .deck-container:hover .deck-next-link {
  display: none;
  visibility: hidden;
}
@media print {
  .deck-prev-link,
  .deck-next-link {
    display: none !important;
  }
}
